# Ignore script local
breathing.sh

# Ignore local SQLite database
breathing_log.db

# Ignore Jupyter notebooks
*.ipynb

# Python cache
__pycache__/
*.pyc

.ipynb_checkpoints/

venv/

*.swp
*.kate-swp

